* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    'h h h' 
    's m m'
    'f f f';
    width: 100vw;
    height: 100vh;
}

header {
    grid-area: h;
    display: flex;
    background-color: var(--headColour);
    flex-direction: row;
    justify-content: flex-end;
}

a {
    padding-right: 2rem;
    text-decoration: none;
    color: var(--textColour);
}

.side {
    grid-area: s;
    background-color: var(--mainColour);
}

.noteList {
    height: 100%;
    min-width: 15%;
    position: fixed; 
    top: 0; 
    left: 0;
    background-color: var(--navColour);
    display: grid;
    grid-template-rows: 3rem auto;
    grid-template-columns: auto 3rem;
    grid-template-areas: 
    '. c' 
    'n .';
    opacity: 96%;
}

ul {
    grid-area: n;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-size: 2rem;
    font-family: 'Zilla Slab', serif;
}

li {
    list-style-type: none;

}

.top {
    display: flex;
    flex-direction: row;
    font-size: 1.5em;
    font-family: 'Noto Sans JP', sans-serif;
}

.main {
    grid-area: m;
    background-color: var(--mainColour);
}

.workspace {
    display: grid;
    grid-template-rows: 2rem auto 2rem;
    grid-template-columns: 1rem 42rem auto;
    grid-template-areas: 
    'a . .' 
    '. n .'
    '. b .';
    padding-top: 10%;
}

textarea {
    height: 20rem;
    width: 40rem;
    margin-left: 2rem;
    font-family: 'Zilla Slab', serif;
    font-size: 1.5em;
    background-color: var(--noteColour);
    color: var(--noteTextColour);
    grid-area: n;
}

.button {
    display: flex;
    border: none;
    background-color: inherit;
    color: var(--textColour);
    font-size: 2rem;
    font-family: 'Zilla Slab', serif;
}

.menu {
    margin: 1rem;
}

.bar {
    grid-area: b;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.save {
    font-size: 1rem;
    padding-right: 1rem;
}

.delete {
    font-size: 1rem;
}

.close {
    grid-area: c;
    color: var(--noteTextColour);
}

.add {
    grid-area: a;
    font-size: 3rem;
}

footer {
    grid-area: f;
    display: flex;
    background-color: var(--headColour);
    color: var(--textColour);
    justify-content: center;
    font-family: 'Zilla Slab', serif;
}

.mode {
    font-size: 1.5rem;
    font-family: 'Noto Sans JP', sans-serif;
    padding-right: 2rem;
}

.lightMode {
  --headColour: #fffaf3;
  --mainColour: #f2e9de;
  --navColour: #9ccfd8;
  --textColour: #575279;
  --noteColour: #f6c177;
  --noteTextColour: #191724;
  
}

.darkMode {
  --headColour: #2a273f;
  --mainColour: #393552;
  --navColour: #6e6a86;
  --textColour: #e0def4;
  --noteColour: #f6c177;
  --noteTextColour: #191724;
}

@media screen and (max-width: 720px) {

    .container {
        grid-template-columns: auto;
        grid-template-rows: auto auto 1fr auto;
        grid-template-areas: 
        'h h h'
        's s s' 
        'm m m'
        'f f f';
    }

    .close {
        display: none;
    }

    .noteList {
        height: auto;
        position: relative;
        display: flex;
        opacity: 100%;
    }

    ul {
        flex-direction: row;
    }

    .add {
        font-size: 6rem;
    }

    .save {
        font-size: 2rem;
    }

    .delete {
        font-size: 2rem;
    }
}